:root{
    --background-color-1: rgb(255, 255, 255);
    --background-color-2: rgba(224, 224, 224, 0.521);
    --background-color-3: rgba(201, 250, 247, 0.774);
    --background-color-3-alt: rgba(201, 210, 250, 0.705);
    --font-color-1:rgb(255, 255, 255);
    --bold-color: rgb(247, 255, 0);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /*Photo by Jason Leung on Unsplash*/
    background-image: url('/s/confetti.jpg');
    /*background-color: var(--background-color-1); */
    font-family: 'Roboto', sans-serif;
    color: var(--font-color-1)
        
}

b{
    color:  var(--bold-color);
    font-family: verdana;
}

/*-----------------------------------------------------*/
/*---------------NAV BAR------------------------------*/

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color: var(--background-color-2);
    padding: 5px 0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
}

nav .title{
    margin: 0;
    padding: 10px;
}

.link{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color-3);
    display: block;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: #056acd;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 2px;
}

.link:hover{
    background-color: var(--background-color-3-alt);
}

.cell_button {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color-3);
    text-align: center;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: #056acd;
    border: none;
    cursor: pointer;
    height: 100%;
    padding: 10px;
    margin: 0;
}

/*-------------------------------------------------------*/
/*---------------------------Block Body----------------------------*/

.block-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    min-width: 700px;
}


/*-----------------------------------------------------*/
/*---------------GROUP INFO PAGE------------------------------*/

.info-container {
    margin: 1rem;
    margin-top: 0;
    padding: 1em;
    border-radius: 5px;
    background-color: var(--background-color-2);
}

.info-container p{
    padding-bottom: 10px;
}

.info-container h2{
    font-weight: 400;
}

.info-container p{
    font-style: italic;
    font-weight: 400;
}

/*-----------------------------------------------------*/
/*---------------APP PAGE------------------------------*/

.app-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    margin: 1rem;
    margin-top: 0;
    padding: 1em;
    border-radius: 5px;
    background-color: var(--background-color-2);
}

.app-body .welcome-name{
    color: rgb(215, 255, 225);
}

.current-date em{
    color: rgb(133, 0, 0);
}

.app-body th{

    color: rgb(148, 84, 0);
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 5px;
    padding: 0.35em 0;
    margin-bottom: 10px;
}

.app-body td{
    white-space: nowrap;    
    padding: 1rem;
    background-color: rgba(252, 217, 143, 0.123);
    border-radius: 5px;
}

.app-body td:hover{
    background-color: rgba(253, 186, 41, 0.651);
}

.birthday-form td{
    padding: 3px;
}

.birthday-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: space-between;
}

.app-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.birthday-name {
    height: 100%;
    padding: 0;
    margin: 0;
}

.td-delete {
    padding: 0;
    margin: 0;
}

.submit-bd {
    margin: 0;
    width: 100%;
}

.instructions {
    padding-left: 10px;
}

.instructions h2 {
    padding-top: 0;
    margin-top: 0;
}

/*-----------------------------------------------------*/
/*---------------DESCRIPTION PAGE------------------------------*/

.about-container {
    margin: 1rem;
    margin-top: 0;
    padding: 1em;
    border-radius: 5px;
    background-color: var(--background-color-2);
}

