{% extends '_base.html' %} {% block content %}
<div class="about-container">
	<h1>Description</h1>
	<p>
		This birthday countdown web app lets a user save specific birthdates and
		lets the user be aware of upcoming birthdays by providing a countdown of
		days until the upcoming birthday.  
	</p>
    <br>

    <h1>Current Functionality</h1>
    <p>
        The current deployment of our application includes a general layout, including features such as:
        <ul>

            <li>basic page navigation</li>
            <li>styling(subject to change)</li>
            <li>a visual preview of the the basic idea of the birthday countdown</li>

        </ul>
    </p>
    <br>
    <h1> Goals</h1>
    <p>
        We are working to make a variety of improvements including (but not limited to) the following:
        
        <ol>
            <li>Improve the user interface</li>
            <li>Add in a login functionality to allow for each user to have their own personal countdowns</li>
            <li>Create various filter features such as categoring based on if the person is a family member, friend, etc</li>
            <li>An indicator that shows urgency of upcoming dates (through different color gradients, or dynamic icons</li>
        </ol>
    
        <br>
        <br>
        <b>Stretch goal:</b> Our main concept may also be extended to the functionality of a general calendar that can be shared between users. An example case would be a family of users can share the same calendar of birthday countdowns so no one forgets to prepare for upcoming birthdays.
    </p>

</div>

{% endblock %}
