{% extends '_base.html' %} {% block content %}
<div class="about-container">
	<h1>Description</h1>
	<p>
		This birthday countdown web app lets a user save specific birthdates and
		lets the user be aware of upcoming birthdays by providing a countdown of
		days until the upcoming birthday.
	</p>
    <br>
    <h1>Goals</h1>
    <p>
        We are working to improve the user interface and we also plan to add family/friends categorization or other custom groupings for each user, as well as an indication of urgency of upcoming dates. The indicator is planned to be a color gradient or a dynamic icon.
        <br>
        <br>
        Our main concept may also be extended to the functionality of a general calendar that can be shared between users. An example case would be a family of users can share the same calendar of birthday countdowns so no one forgets to prepare for upcoming birthdays.
    </p>
</div>

{% endblock %}
