{% extends '_base.html' %} {% block content %}
<div class="info-container">
	<h1>Meet the Members!</h1>
	<h2>Rankin Tran</h2>
	<p>
		"I'm a junior Digital Narrative and Interactive Design student and I like
		games!"
	</p>
	<br />
	<h2>Kevin Corcoran</h2>
	<p>
		"I’m Kevin Corcoran, and I’m in my last year as a Computer Science major.
		After graduation I’ll be working at AWS as an SDE. Outside of school I enjoy
		music in all aspects, from listening to playing and recording."
	</p>
	<br />
	<h2>Donte DiFrancesco</h2>
	<p>
		"My name is Donte DiFrancesco and I am a senior Computer Science student.
		After graduation, I will be working in a specialized infantry unit as a
		United States Marine Corps Officer"
	</p>
	<br />
	<h2>Trent Foster</h2>
	<p>
		"Hello! I am a senior here at the University of Pittsburgh. A fun fact about
		me is that my original major was biology before I found interest in CS. I am
		currently focusing my studies on database management, as well as software
		quality assurance."
	</p>
	<br />
	<h2>Pran Sutham</h2>
	<p>
		"Pran Sutham, senior CS student. Favorite hobby is sleeping. My favorite
		programming language is Microsoft Excel/Google Sheets."
	</p>
</div>

{% endblock %}
