{% extends '_base.html' %} {% block content %}


<div class="app-body">
    <h1 class='current-date'>Today is Oct 9, 2022 <em>- WORK IN PROGRESS -</em> </h1> 

    <!--TODO: form for user input and queries-->
    <div class="birthday-form">
		<form method="post" action="/push">
			{{birthdays|safe}}
			<table>
				<tr>
					<td><input type="text" name="name" value="{{name}}"/></td>
					<td><input type="date" name="date" value="{{date}}"/></td>
					<td><input type="submit" /></td>
				</tr>
			</table>
		</form>
	</div>
    
</div>

{% endblock %}
