{% extends '_base.html' %} {% block content %}

<div class="app-body">
	<!--TODO SIGN IN/OUT... Login Name replaces "Hi First Last"-->
	<h1 class="current-date">
		Hi, <span class="welcome-name">First Last</span>! -- Today is {{today}}
		<em>- WORK IN PROGRESS -</em>
	</h1>
	<div class="birthday-form">
		<form method="post" action="/push">
			<table>
				<th colspan="4" class="birthday-title">Upcoming Birthdays!</th>
                {% for birthday in birthdays %}
                    <tr>
                        <td class="birthday-name">{{ birthday.name }}</td>
                        <td class="birthday-date">{{ birthday.get_formatted_date() }}</td>
                        {% set countdown = birthday.get_countdown() %}
                        {% if countdown is equalto 0 %}
                            <td class="birthday-countdown">Today!</td>
                        {% else %}
                            <td class="birthday-countdown"> in {{countdown}} days!</td>
                        {% endif %}
                        <td>
                            <a href="/delete-birthday?id={{ birthday.entity_id }}">delete</a>
                        </td>
                    </tr>
                {% else %}
                <tr><td colspan="4">No birthdays to list.</td></tr>
                {% endfor %}
				<tr>
					<td><input type="text" name="name" value="{{name}}" /></td>
					<td><input type="date" name="date" value="{{date}}" /></td>
					<td><input id="submit-bd" type="submit" /></td>
				</tr>
			</table>
		</form>
	</div>
	<!-- JS-CONFETTI -->
	<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
	<script>
		const jsConfetti = new JSConfetti();
		function confetti() {
			jsConfetti.addConfetti();
			console.log("Confetti loaded");
		}
		document
			.getElementById("submit-bd")
			.addEventListener("mouseover", confetti);
	</script>
</div>

{% endblock %}
