{% extends '_base.html' %} {% block content %}


<div class="app-body">
    <h1 class='current-date'>Today is {{today}} <em>- WORK IN PROGRESS -</em> </h1> 
    
    <!--TODO: form for user input and queries-->
    <div class="birthday-form">
		<form method="post" action="/push">
			<table>
				<th colspan='3' class='birthday-title'>Upcoming Birthdays!</th>
				{{birthdays|safe}}
				<tr>
					<td><input type="text" name="name" value="{{name}}"/></td>
					<td><input type="date" name="date" value="{{date}}"/></td>
					<td><input type="submit" /></td>
				</tr>
			</table>
		</form>
	</div>
    
</div>

{% endblock %}
